@tailwind base;
@tailwind components;
@tailwind utilities;

input:focus-within ~ label,
input:not(:placeholder-shown) ~ label {
    @apply transform scale-90 -translate-y-9 text-primary dark:text-dark-primary;
}

input:disabled {
    @apply dark:bg-gray-500;
}
